@model Odonto.Models.Profissional

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Você quer realmente apagar isso?</h3>
<div>
    <h4>Profissional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProfissionalId" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">Voltar para a lista</a>
    </form>
</div>
